[data-theme="light"] {
  display: block;
}

[data-theme="dark"] {
  display: none;
}

.dark [data-theme="light"] {
  display: none;
}

.dark [data-theme="dark"] {
  display: block;
}

[data-rehype-pretty-code-figure] {
  @apply mt-2;
}

[data-rehype-pretty-code-fragment] {
  @apply relative text-white;
}

[data-rehype-pretty-code-fragment] code {
  @apply grid min-w-full break-words rounded-none border-0 bg-transparent p-0;
  counter-reset: line;
  box-decoration-break: clone;
}

[data-rehype-pretty-code-fragment] .line {
  @apply px-4 min-h-[1rem] py-0.5 w-full inline-block;
}

[data-rehype-pretty-code-fragment] [data-line-numbers] .line {
  @apply px-2;
}

[data-rehype-pretty-code-fragment] [data-line-numbers] > .line::before {
  @apply text-zinc-50/40 text-xs;
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  width: 1.8rem;
  margin-right: 1.4rem;
  text-align: right;
}

[data-rehype-pretty-code-fragment] .line--highlighted {
  @apply bg-zinc-700/50;
}

[data-rehype-pretty-code-fragment] .line-highlighted span {
  @apply relative;
}

[data-line] mark {
  @apply rounded-md bg-zinc-700/50 border-primary/50 p-1 border;
}

.dark [data-line] mark {
  @apply bg-zinc-900 border-primary/50;
}

[data-rehype-pretty-code-title] {
  @apply relative mt-2 py-2 px-4 text-sm font-medium text-zinc-300 font-mono max-w-max rounded-t-lg border border-b-0 z-10 bg-zinc-800 dark:bg-zinc-900;
}

[data-rehype-pretty-code-title] + pre {
  @apply -mt-px z-0 rounded-tl-none;
}

[data-rehype-pretty-code-caption] {
  @apply relative mb-2 -mt-px py-2 px-4 text-xs font-medium text-zinc-400 max-w-max rounded-b-lg border border-t-0 z-10 bg-zinc-800 dark:bg-zinc-900;
}

pre:has(+ [data-rehype-pretty-code-caption]) {
  @apply mb-0 z-0 rounded-bl-none;
}

.mdx > .steps:first-child > h3:first-child {
  @apply mt-0;
}

.steps > h3 {
  @apply mt-8 mb-4 text-base font-semibold;
}
